<!doctype html>
<html lang="en">
<head>
  <title>McAfee Bulk Importer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>
<div class="container mt-3">
  <h2>McAfee Bulk Importer</h2>
  <p>Please upload the CSV file that includes MD5, SHA1 or SHA256 column and values.</p>
  <form id="upload-file" method="post" enctype="multipart/form-data">
    <p>CSV file:</p>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="file">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="TIE" onclick="tie_rep()">
      <label class="custom-control-label" for="TIE">Set TIE Reputation</label>
    </div>
    </br>
    <div class="form-group" id="dropdown-rep-level" style="display:none">
      <label for="dropdown-rep-level">Select TIE Reputation Level:</label>
      <select class="form-control" id="dropdown-tie-rep">
        <option value="1">Known Malicious</option>
        <option value="15">Most Likely Malicious</option>
        <option value="30">Might Be Malicious</option>
        <option value="50">Unknown</option>
        <option value="70">Might Be Trusted</option>
        <option value="90">Most Likely Trusted</option>
        <option value="100">Known Trusted</option>
        <option value="0">Not Set</option>
      </select>
    </div>
    <div class="form-group" id="dropdown-rep-prov" style="display:none">
      <label for="dropdown-rep-prov">Select TIE Reputation Provider:</label>
      <select class="form-control" id="dropdown-tie-prov">
        <option value="enterprise">Enterprise Reputation</option>
        <option value="external">External Reputation</option>
      </select>
    </div>
    <div class="custom-control custom-switch">
      <input class="custom-control-input" type="checkbox" id="EDR">
      <label class="custom-control-label" for="EDR">EDR Lookup</label>
    </div>
    <div class="mt-3">
      <button id="upload-file-btn" type="button" class="btn btn-primary">Submit</button>
    </div>
    </br>
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <div id="tableResult" style="display:none;">
      <table id="table_res" class="display"></table>
    </div>
  </form>
</div>

<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>

<script>
$(document).ready( function () {
    $('#table_res').DataTable();
} );
</script>

<script>
function tie_rep() {
  var checkBox = document.getElementById("TIE");
  var level = document.getElementById("dropdown-rep-level");
  var prov = document.getElementById("dropdown-rep-prov");
  if (checkBox.checked == true){
    level.style.display = "block";
    prov.style.display = "block"
  } else {
     level.style.display = "none";
     prov.style.display = "none"
  }
}
</script>

</body>
</html>
